*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

 
}
h1{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 4rem;
    max-width: 80%;
   
}
#game{
    display: grid;
    margin: auto;
    width: 90%;
  
    place-content: center;
}
.board{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 5px;
   
    
}
.square{
    display: grid;
    place-content: center;
    font-size: 4rem;
    outline: 2px solid black;
    border-radius: 7px;
}
.square:hover{
    cursor: pointer;
    background-color: rgba(158, 229, 247,0.5);
    

}
#results{
   visibility: hidden;
    margin-bottom: 30px;
}
p{
    text-align: center;
    font-size: 3.5rem;
    margin-top: 30px;
}
#replay{
    display: block;
    margin: auto;
    font-size: 3.5rem;
    transition: 0.1s;
    transition-timing-function: ease-in-out;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid black;
    color: white;
    background-color: #111;
    box-shadow: 3px 3px 5px #222;
}
#replay:hover{
    cursor: pointer;
    transform: scale(1.1);
    opacity: 0.8;
}